.statBlock{
    background-color:palegoldenrod;
    width:fit-content;
}
.name{
    margin:0px;
}

.stats, th, td{
    border:1px solid black;
    border-collapse:collapse;
}

.monsterImg{
    height:300px;
}

.hidden{
    display:none;
}