body{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    height:82vh;
    width:98vw;
    padding:5em;
    background-image:url("https://wallpapercave.com/wp/wp2227193.jpg");
    background-size:cover;
    background-position:center;
    color:white;
    margin:0px;
}
.pageTitle{
    font-size:xxx-large;
}
.monsterSearch{
    margin:2em;
}
.statBlock{
    background:url("https://images.pond5.com/old-yellow-brown-vintage-parchment-illustration-020576673_iconl_nowm.jpeg");
    background-position:center;
    width:fit-content;
    display:flex;
    justify-content: space-evenly;
    gap:2em;
    color:#58170d;
}
.statBlock hr{
    color:#58170d;
}
.name{
    margin:0px;
    
}
.attributes{
    width:100%;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.attr{
    margin:0px 0.5em;
}

.stats, th, td{
    border:1px solid black;
    border-collapse:collapse;
}

.monsterImg{
    height:300px;
}

.hidden{
    display:none;
}

.searchResults li:hover{
    text-decoration:underline;
}